<h1>{{productId ? 'Edit' : 'Add'}} Product</h1>

<form novalidate (ngSubmit)="saveProduct()">
    <mat-form-field>
        <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="URL">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Categories" multiple>
            <mat-option *ngFor="let c of categories" [value]="c.CategoryId">{{c.Name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="actions">
        <button type="submit" mat-stroked-button>Save</button>
        <button type="button" mat-stroked-button color="warn" routerLink="/product/list">Cancel</button>
    </div>
</form>