<h1>{{productId ? 'Edit' : 'Add'}} Product</h1>

<form [formGroup]="productForm" novalidate (ngSubmit)="validateProduct()">
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" formControlName="Description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="URL" formControlName="Url">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Categories" multiple formControlName="Categories" [compareWith]="compareCategories">
            <mat-option *ngFor="let c of categories" [value]="c">{{c.Name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="actions">
        <button type="submit" mat-stroked-button>Save</button>
        <button type="button" mat-stroked-button color="warn" routerLink="/product/list">Cancel</button>
    </div>
</form>